USE [master]
GO
/****** Object:  Database [WorkingWithDateTime]    Script Date: 12/16/2022 1:57:04 PM ******/
CREATE DATABASE [WorkingWithDateTime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkingWithDateTime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorkingWithDateTime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkingWithDateTime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\WorkingWithDateTime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkingWithDateTime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkingWithDateTime]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 12/16/2022 1:57:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](max) NULL,
	[Created] [datetime2](7) NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([Id], [User], [Created]) VALUES (1, N'payne', CAST(N'2022-11-26T17:44:28.4006356' AS DateTime2))
INSERT [dbo].[AuditLog] ([Id], [User], [Created]) VALUES (2, N'smith', CAST(N'2022-11-27T13:22:20.4000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_Created]  DEFAULT (getdate()) FOR [Created]
GO
USE [master]
GO
